<!-- This view, currently, never gets loaded. Rather, we 
route the Delete action back to the index view and display a flash -->
<p>Idea successfully deleted</p>

<!-- Wrong way of doing a button in Rails -->
<a href="/ideas/index"><button class="btn btn-success">Back</button></a>