<html>
	<head>
		  <title>JETPACK LANDING PAGE</title>
		  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
 		  <!-- Compiled and minified JavaScript -->
  		  <script src="../../vendor/assets/components/materialize/js/slider.js"></script>
	</head>
	<body>
		jetpack landing page
		<%= link_to showAll_path() do%>
       		<!-- <i class="fa fa-home"></i> --> All Ideas
     	<% end %>

     	<div class="slider">
		    <ul class="slides">
		      <li>
		        <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
		        <div class="caption center-align">
		          <h3>This is our big Tagline!</h3>
		          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
		        </div>
		      </li>
		      <li>
		        <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
		        <div class="caption left-align">
		          <h3>Left Aligned Caption</h3>
		          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
		        </div>
		      </li>
		      <li>
		        <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
		        <div class="caption right-align">
		          <h3>Right Aligned Caption</h3>
		          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
		        </div>
		      </li>
		      <li>
		        <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
		        <div class="caption center-align">
		          <h3>This is our big Tagline!</h3>
		          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
		        </div>
		      </li>
		    </ul>
  		</div>

	</body>
</html>