.row .smallWidth{
	padding: 0 0px;
}

.keyPartners, .valueProposition, .customerSegments{
	height: 80vh;
	position: relative;
	overflow-y:auto
}
.keyActivities, .keyResources, .customerRelationships, .channels, .costStructure, .revenueStreams{
	height: 38vh;
	position:relative;
	overflow-y:auto
}
.bmcWrapper .sectionBody{
	margin-top: 40px;
}
.bmcWrapper .row{
	margin-top: 0px;
	margin-bottom: 0px;
}
.bmcWrapper .card-panel{
	margin-left: -5px;
	margin-right: -5px;
}
.bmcWrapper .sectionHeader {
  position: absolute;
	top:0;
	left:0;
	height:50px;
	width:100%;
}
.sectionHeader .head{
	margin-left: 20px;
	width:100%;
	margin-top: 5px;
}

.bmcWrapper .sectionHeadder {
  position: absolute; 
	top: 0;
}
.sectionHeader .fa{
	font-size: 20px;
	float: right;
	margin-right: 20px;
	margin-top: -0px;
}