.homeWrapper{
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -50px;
}

.homeWrapper .card-panel{
	margin: -7px; 
}

.largeCard{
	height: 50vh;
	position:relative;
}
.smallCard{
	height: 25vh;
	position:relative;
}

.cardBody{
	margin-top: 10px;
	font-size: 42px;
}
.largeCard .cardBody{
	/*CENTERS IMAGE ON LARGE CARD AND MAKES SIZE BIG*/
	margin-top: 90px; 
	font-size: 58px;
}
.cardFooter{
	position: absolute;
	bottom:0;
	left:0;
	height:50px;
	width:100%;
}
.cardFooter .foot{
	margin-left: 20px;
	width:100%;
	margin-top: 5px;
}
.cardFooter .fa{
	font-size: 30px;
	float: right;
	margin-right: 20px;
	margin-top: -5px;
}
.dark-text{
	color:#4e4e4e;
}