body {
	background: url(http://subtlepatterns.com/patterns/scribble_light.png) ;
}
.wrapper{
	/*USED TO OFFSET NAVBAR*/
	margin-top: 70px;
	margin-left: 50px;
	margin-right:50px;
}
.thumbnail{
	height:400px;
	width:100%;
	overflow: hidden;
}
.deleteItem{
	margin-top: -15px;
}
.deleteButton{
	margin-top: -45px;
	margin-right: 5px;
}
.thumbnail img { 
	max-height:200px; 
	height:100%; 
	min-width: 125px;
}
.idea-thumbail-img{
	height:250px;
}
.addIdeaBtn{
}
.ideaImage{
	padding-top: 25px;
	padding-bottom: 10px;
	width:100%;
	min-height: 150px;
}
.childElement{
	margin-top: -7px;
	margin-left: 20px;
	padding-bottom: 15px;
}
nav{
	margin-top: -1px;
}
footer{
	text-align: center;
}
.noPicDisplay{
	text-align: center;
}
.noDocDisplay{
	text-align: center;
}