.wrapper{
	margin-left: 50px;
	margin-right:50px;
}
.thumbnail img { 
	max-height:250px; 
	height:100%; 
	min-width: 125px;
}
.idea-thumbail-img{

}
.addIdeaBtn{
}
.ideaImage{
	padding-top: 25px;
	padding-bottom: 10px;
	width:100%;
	min-height: 150px;
}
.childElement{
	margin-top: -7px;
	margin-left: 20px;
}