<!DOCTYPE html>
<html>
	<head>
	  <title>JetApp</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<!-- All views will get placed into here.-->
		<%= yield %>
	</body>
</html>
